.sk-three-bounce {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  text-align: center;
}
.sk-three-bounce .sk-child {
  width: 15px;
  height: 15px;
  background-color: #01a5f3;
  border-radius: 8px;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
  animation: sk-three-bounce 2.7s ease-in-out 0s infinite both;
}
.sk-three-bounce .sk-bounce1 {
  background-color: #7fc343;
}
.sk-three-bounce .sk-bounce2 {
  animation-delay: .27s;
  background-color: #7f4e9f;
}
.sk-three-bounce .sk-bounce3 {
  animation-delay: .54s;
  background-color: #11a0db;
}
.sk-three-bounce .sk-bounce4 {
  animation-delay: .81s;
  background-color: #bed735;
}
@keyframes sk-three-bounce {
  0%, 100% {
    left: 0;
    opacity: 1
  }
  50% {
    left: 80px;
    opacity: 0
  }
}
.sk-three-bounce-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sk-three-bounce-loading {
  position: relative;
  width: 100%;
  height: 100%;
}